@import './normalize.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#root {
  position: relative;
}

.container {
  position: relative;
  min-height: 100vh;
}