@import './normalize.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.spotlight {
  margin-top: 56px;
  font-size: 2rem;
  color: #ffff;
  text-align: center;
}

.all {
  margin-top: 56px;
  margin-left: 72px;
  font-size: 2rem;
  color: #ffff;
}
