.spotlight {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  margin-top: 56px;
  font-size: 2rem;
  color: #ffff;
  text-align: center;
}

.all {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  margin-top: 56px;
  margin-bottom: -30px;
  font-size: 2rem;
  color: #ffff;
}
